*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

#header {
    width: 100%;
    height: 400px;
    background-image: url(./assets/images/moving1.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    padding-left: 30%;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;   

}

.signUp-btn {
    width: 70px;
    background-color: #FFFF00;
    color: #0000;
}

.login-btn {
    width: 70px;
    background-color: #000000;
    color: #FFFF00;
}

.headerContent h1 {
    margin-left: 30px;    
    color: #FFFF00;
    font-family: 'Actor' ;
}

.headerContent p {
   margin-left: 30px; 
   color: #fff;
}

#more {
    display: flex;
    width: 100%;
}

.rightSide {
    padding: 0px;
}

/*Learn More Section */
#mid{
    width: fit-content;
}
.midcontainer{
    width: 100%;
    display: flex;
    justify-items: left;
}
.leftmidimg{
    width: 50%;
    padding-top: 40px;

}
.moving2{
    width: auto;
    height: 600px;
}
.rightmid{
    padding-top: 40px;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
    padding-top: 200px;
}
.whymove{
    color: grey;
}
.btn3{
    width: fit-content;
    height: 30px;
    background-color: black;
    color: #FAFF00;
    border-top-right-radius: 10px;
}
.cursor{
    cursor: pointer;
}

.topmovers {
    background-color: rgba(128, 128, 128, 0.2);
    width: 100%;
    height: 170vh;
}

.headline1 {
    padding-left: 90px;
    padding-top: 70px;
}

.imagescontainer{
    max-width: 90%;
    height: 100px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    margin: 20;
    justify-content: space-between;
}

table {
    margin-top: -9px;
    width: 360px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffff;
}

th {
    height: 70px;
    width: 360px;
    border-bottom: 2px solid grey;
}

td {
    height: 50px;
    text-align: center;
}

.tdm {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

#page1bottom{
    width: 100%;
    background-color: black;
    height: 400px;
}
#footer{
    width: 80%;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    font-size: xx-large;
}
.orange{
    text-decoration: none;
    color: orange;
}
hr{
    height: 0.2px;
    margin-top: 50px;
}
#footerlinks{
    width: 80%;
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
}
.icons{
    width: 10%;
    display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
    
}
.manylinks{
    width: 20%;
    list-style-type: none;
    text-decoration: none;
    color: white;
    
    
}
.menu2{
    list-style-type: none;
    
}
.menu3{
    text-decoration: none;
    color: gray;
}
.menu4{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: medium;
}

/*  Start of movers.html Styling  */

body{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    font-family: 'Actor';
    
}
#section1a{
    width: 100%;
    height: 250px;
    background-color: black;
}
.navigbar2{
    width: 50%;
    float: right;
   }
.menulink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;  
}
.menuitems{
    list-style-type: none;   
}
.menu{
    text-decoration: none;
    color: silver;
}
.orange{
    text-decoration: none;
    color: orange;
}
.btnh{
   text-decoration: none;
   color: black;
   font-size: large;
}
.forwardarrow{
    color: white;
}
.btn4{
    height: 50px;
    width: 200px;
    background-color: orange;
    border-top-right-radius: 15px;
}
hr{
    width: 100%;
    clear: both;
    height: 10px;
    color: blue;
}
.navbottom{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.tags{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
.undertags{
    color:grey ;
    
}
.undertags2{
    color:grey;
    text-indent: 30px;
    padding-top: 20px;
    font-size: 15px;
}

.section2a{
    width: 70%;
    margin-top: 50px;
    height: fit-content;
    /*height: 600px;*/
    /*background-color: blue;*/
   margin-left: 15%;
   overflow: hidden;
}
.fillfeed{
    width: 30%;
    height: 517px;
    background-color: white;
    float: right;
    border-radius: 25px;
    margin-top: 0;
}
table{
    padding: 20px;
}
.incontent{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.kyle{
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 10px;
}
#kyle{
    float: left;
    padding: 10px;
}
tr td#basic{
    margin-left: 5px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
}
td#advanced{
    margin-left: 5px;
    height: 100px;
    border: 2px solid grey;
    border-radius: 10px;
}
.btn5{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-top-right-radius: 15px;
}
.facepage2{
    width: 70%;
}
.rectangles{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
#rectangles{
    width: 91px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
}
#details{
    width: 700px;
}
.details{
    width: 100%;
    height: 100px;
   background-color: white;
    border-radius: 20px;
    border-collapse:collapse;
}
.detail{
    font-weight: 700;
    font-size: x-large;
    text-align: left;
    text-indent: 20px;
}
.bodr{
    height: 30px;
    width: 20%;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    text-align: center;
}
.bodl{
    height: 30px;
    width: 20%;
    border-top: 1px solid grey;
    text-align: center;
}
table2{
    
    margin-top: 30px;
}
#description{
    width: 700px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    text-align: left;
}
.description{
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: x-large;
    border-bottom: 1px solid grey;
    text-align: left;
}
#features{
    width: 700px;
    height: fit-content;
   background-color: white;
    border-radius: 15px;
    padding-left: 20px;
}
.features{
    width: 100%;
    font-size: x-large;
    border-bottom: 1px solid grey;
}
.featureheadline{
    padding-left: 40px;
}
.featuretext{
    width: 100%;
    display: flex;
    align-content: space-between;
}
.featurebehave{
    list-style-type: none;
    padding-bottom: 20px;
    padding-right: 40px;
    text-align: left;

}
.imagescontainer2{
    max-width:200%;
    margin-top: 30px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
}
.catalogue{
    padding-right: 20px;
}
.table{
    margin-top: -9px;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    border-collapse: collapse;
}
th{
    height: 70px;
    width: 360px;
    border-bottom: 2px solid grey;
    text-align: left;
    text-indent: 15px;
}
td{
    height: 50px;
    text-align: center;
}
.tdm{
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}
#page1bottom{
    width: 100%;
    background-color: rgb(27, 29, 14);
    height: fit-content;
}
#footer{
    width: 80%;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    font-size: xx-large;
}

.orange{
    text-decoration: none;
    color: orange;
}
.btnfloat{
    float: right;
}
hr{
    height: 0.1px;
    margin-top: 50px;

}

#footerlinks{
    width: 100%;
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
}
.icons{
    width: 10%;
    display: flex;
    color: white;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}
.manylinks{
    width: 25%;
    list-style-type: none;
    text-decoration: none;
    color: white;   
}
.menu2{
    list-style-type: none;
    
}
.menu3{
    text-decoration: none;
    color: gray;
    font-size: medium;
}
.menu4{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: medium;
}