*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    width: 100%;
    height: 400px;
    background-image: url(./assets/images/moving1.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    padding-left: 30%;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;   

}

.signUp-btn {
    width: 70px;
    background-color: #FFFF00;
    color: #0000;
}

.login-btn {
    width: 70px;
    background-color: #000000;
    color: #FFFF00;
}

.headerContent h1 {
    margin-left: 30px;    
    color: #FFFF00;
    font-family: 'Actor' ;
}

.headerContent p {
   margin-left: 30px; 
   color: #fff;
}

#more {
    display: flex;
    width: 100%;
}

.rightSide {
    padding:
}

/*Learn More Section */
#mid{
    width: fit-content;
}
.midcontainer{
    width: 100%;
    display: flex;
    justify-items: left;
}
.leftmidimg{
    width: 100%;
}
.moving2{
    width: auto;
    height: 300px;
}
.rightmid{
    padding-top: 40px;
    flex-direction: column;
    align-items: baseline;
}
.whymove{
    color: grey;
}
.btn3{
    width: fit-content;
    height: 30px;
    background-color: black;
    color: #FAFF00;
    border-top-right-radius: 10px;
}
.cursor{
    cursor: pointer;
}

.topmovers {
    background-color: rgba(128, 128, 128, 0.2);
    width: 100%;
}

.headline1 {
    padding-left: 90px;
    padding-top: 70px;
}

.imagescontainer{
    max-width: 90%;
    height: 100px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table {
    margin-top: -9px;
    width: 360px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffff;
}

th {
    height: 70px;
    width: 360px;
    border-bottom: 2px solid grey;
}

td {
    height: 50px;
    text-align: center;
}

.tdm {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

#page1bottom{
    width: 100%;
    background-color: black;
    height: 400px;
}
#footer{
    width: 80%;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    font-size: xx-large;
}
.orange{
    text-decoration: none;
    color: orange;
}
hr{
    height: 0.2px;
    margin-top: 50px;
}
#footerlinks{
    width: 80%;
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
}
.icons{
    width: 10%;
    display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
    
}
.manylinks{
    width: 20%;
    list-style-type: none;
    text-decoration: none;
    color: white;
    
    
}
.menu2{
    list-style-type: none;
    
}
.menu3{
    text-decoration: none;
    color: gray;
}
.menu4{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: medium;
}


/*  Start of movers.html Styling  */

body{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    font-family: 'Actor';
    
}
#section1a{
    width: 100%;
    height: 250px;
    background-color: black;
}
.navigbar2{
    width: 50%;
    float: right;
   }
.menulink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;  
}
.menuitems{
    list-style-type: none;   
}
.menu{
    text-decoration: none;
    color: silver;
}
.orange{
    text-decoration: none;
    color: orange;
}
.btnh{
   text-decoration: none;
   color: black;
   font-size: large;
}
.forwardarrow{
    color: white;
}
.btn4{
    height: 50px;
    width: 200px;
    background-color: orange;
    border-top-right-radius: 15px;
}
hr{
    width: 100%;
    clear: both;
    height: 10px;
    color: blue;
}
.navbottom{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.tags{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
.undertags{
    color:grey ;
    
}
.undertags2{
    color:grey;
    text-indent: 30px;
    padding-top: 20px;
    font-size: 15px;
}